executorch==1.4.1
expecttest==0.3.0
filelock==4.0.9
flatbuffers==25.12.19
fsspec==2026.9.0
hypothesis==6.168.3
jinja2==3.1.6
kgb==7.3
markupsafe==3.0.4
mpmath==1.4.1
networkx==3.7
numpy==2.5.3
packaging==26.3
parameterized==0.9.0
pymupdf==1.28.2
pytorch-tokenizers==1.4.1
pyyaml==6.0.3
ruamel-yaml==0.19.1
setuptools==84.0.0
sortedcontainers==2.4.0
sympy==1.14.0
tabulate==0.10.0
tokenizers==0.23.2
torchao==0.18.0
typing-extensions==4.16.0
